name: Create and Sign Package

on:
  workflow_dispatch:
  release:
    types: [published]

env:
  REPO: ${{github.event.repository.name}}

jobs:
  package:
    runs-on: ubuntu-latest
    container: luci.jfrog.io/ros2-sdk-docker-local/luci-sdk-development-image:latest
    steps:
      #Sets up jfrog cli access for the actions
      - uses: jfrog/setup-jfrog-cli@v3
        env:
          # Credentials for Jfrog artifactory
          JF_URL: ${{ secrets.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}

      - name: Checkout SDK Branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          path: ${{env.REPO}}

      - name: Build the package
        run: |
          cd ${{env.REPO}}
          ./build-package.sh
        shell: bash

      - name: gpg import
        id: "import"
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          # Sets private key to import
          gpg_private_key: ${{ secrets.GPG_SIGNING_KEY }}
          # Sets passphrase to use for the private key
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          # Says we trust it 100%
          trust_level: 5

      - name: Sign the package
        run: |
          echo "Output [${{steps.import.outputs.keyid}}]"
          cd ${{env.REPO}}
          ./sign-package.sh
        shell: bash
        env:
          KEY_ID: ${{steps.import.outputs.keyid}}

      - name: Deploy the package
        run: |
          cd ${{env.REPO}}
          ./deploy-package.sh
        shell: bash

